@model RunData

@{
    ViewData["Title"] = "PaceCalculatorResult";
}

<h3 style="padding-top: 25px">Your average pace is @Model.PerMilePace()[0] minutes and @Model.PerMilePace()[1] seconds per mile.</h3>

<p>Save this run to your personal run history by filling out your name and clicking below to submit it</p>

<form asp-controller="runhistory" asp-action="addtohistory" method="post">

    @if (ViewBag.KnownUser == false)
    {
        <label asp-for="Runner.FName">First Name</label>
        <input asp-for="Runner.FName" type="text" />
        <label asp-for="Runner.LName">Last Name</label>
        <input asp-for="Runner.LName" type="text" />
        <label asp-for="Runner.EmailAddress">Email Address</label>
        <input asp-for="Runner.EmailAddress" type="text" />
    }
    <input type="hidden" asp-for="@Model.Distance" />
    <input type="hidden" asp-for="@Model.Hours" />
    <input type="hidden" asp-for="@Model.Minutes" />
    <input type="hidden" asp-for="@Model.Seconds" />
    <input type="submit" value="Add to History" />
</form>
<div class="return">
    <ul id="home-options">
        <li><a asp-action="Index" asp-controller="Home">Return to main page</a></li>
    </ul>
</div>