@model IList<PastRun>
@{
    ViewData["Title"] = "View";
}

<table class="table desktop">
    <thead>
        <tr>
            <th>Distance</th>
            <th>Duration</th>
            <th>Average Pace</th>
            <th>Post Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PastRun run in @Model)
        {
            <tr>
                <td>@run.Distance miles</td>
                <td>@run.Hours.ToString("D2") hours @run.Minutes.ToString("D2") minutes @run.Seconds.ToString("D2") seconds</td>
                <td>@run.AverageMinutes.ToString("D2") minutes @run.AverageSeconds.ToString("D2") seconds</td>
                <td>@run.PostDate.ToShortDateString()</td>
            </tr>}
    </tbody>
</table>

<table class="table mobile">
    <thead>
        <tr>
            <th>Distance</th>
            <th>Duration</th>
            <th>Average Pace</th>
            <th>Post Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PastRun run in @Model)
        {
            <tr>
                <td>@run.Distance miles</td>
                <td>@run.Hours.ToString("D2") h @run.Minutes.ToString("D2") m @run.Seconds.ToString("D2") s</td>
                <td>@run.AverageMinutes.ToString("D2") m @run.AverageSeconds.ToString("D2") s</td>
                <td>@run.PostDate.ToShortDateString()</td>
            </tr>}
    </tbody>
</table>

<div class="return">
    <ul id="home-options">
        <li><a asp-action="Index" asp-controller="Home">Return to main page</a></li>
    </ul>
</div>